<div class="card bg-dark text-white h-100">
    {% if post.image %}
    <img
        src="{{ post.image.url }}"
        class="card-img-top"
        alt="{{ post.title }}"
    />
    {% endif %}
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.summary }}</p>
        <p class="card-text">
            <small class="text-muted"
                >By {{ post.author.alias }} on {{ post.created_at|date:"M d, Y"
                }}</small
            >
        </p>
        <div class="mt-auto">
            <a
                href="{% url 'post_detail' post_slug=post.title|lower|slugify %}"
                class="btn btn-primary"
                >Read More</a
            >
        </div>
    </div>
</div>
