
{% extends "lsnz/base.html" %}

{% block content %}
<div class="text-content-box">
    <h2>{{ event.name }}</h2>
    <dl class="row">
        <dt class="col-sm-3">Date</dt>
        <dd class="col-sm-9">{{ event.date }}</dd>

        <dt class="col-sm-3">Site</dt>
        <dd class="col-sm-9" >{{ event.site.name }}</dd>

        <dt class="col-sm-3">Points Cap</dt>
        <dd class="col-sm-9">{{ event.points_cap }}</dd>

        <dt class="col-sm-3">Format</dt>
        <dd class="col-sm-9">{{ event.format }}</dd>
    </dl>

    {% if is_future_event %}
        {% if already_registered %}
            <form action="{% url 'event_deregister' event_slug=event.name|lower|slugify %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Deregister</button>
            </form>
        {% else %}
            <form action="{% url 'event_register' event_slug=event.name|lower|slugify %}" method="get">
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        {% endif %}
    {% endif %}
    </dl>
    {# Add more event details here as needed #}
</div>
{% endblock %}
