{% extends "lsnz/base.html" %} {% load static %} {% block content %}
<div class="text-content-box">
    <div class="row">
        <div class="col-lg-8 col-12 mb-4">
            <form id="player-points-form">
                <div class="table-responsive">
                    <table id="playersTable" class="table table-dark table-striped table-bordered align-middle mb-0">
                        <thead>
                            <tr>
                                <th>Alias</th>
                                <th>Grade</th>
                                <th>Add to team!</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for player in players %}
                            <tr>
                                <td>
                                    <a href="{% url 'lsnz:player_detail' slug=player.slug %}">{{ player.alias }}</a>
                                </td>
                                <td><b>{{ player.grade.letter }}</b></td>
                                <td>
                                    <input type="checkbox" class="player-checkbox"
                                        data-grade="{{ player.grade.letter }}"
                                        data-points="{{ player.grade.points }}" />
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
            <div class="mt-3">
                <strong>Total Points:</strong> <span id="total-points">0</span>
            </div>
        </div>
        {% if grades %}
        <div class="col-lg-4 col-12">
            <h5>Grade Points</h5>
            <table class="table table-bordered table-sm w-auto mb-0">
                <thead>
                    <tr>
                        <th>Grade</th>
                        <th>Points</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grade in grades %}
                    <tr>
                        <td>{{ grade.letter }}</td>
                        <td>{{ grade.points }}</td>
                        <td>{{ grade.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function () {
      $('#playersTable').DataTable();
});
</script>
{% if grades %}
<script src="{% static 'lsnz/player_points.js' %}"></script>
{% endif %}
{% endblock %}
