{% extends "lsnz/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="text-content-box">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            {% if is_edit %}
            <h1>Edit Post</h1>
            {% else %}
            <h1>Write New Post</h1>
            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% bootstrap_form form %}

                <div class="d-flex gap-2">
                    {% if is_edit %}
                        {% bootstrap_button button_type="submit" content="Update Post" button_class="btn-primary" %}
                    {% else %}
                        {% bootstrap_button button_type="submit" content="Publish Post" button_class="btn-primary" %}
                    {% endif %}

                    <a href="{% url 'lsnz:blog' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
