{% extends "lsnz/base.html" %} {% block content %}
<div class="text-content-box">
    <h2>Sites</h2>
    <div class="table-responsive">
        <table class="table table-dark table-striped table-bordered align-middle mb-0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Address</th>
                    <th>System</th>
                </tr>
            </thead>
            <tbody>
                {% for site in sites %}
                <tr>
                    <td>
                        <a href="{% url 'lsnz:site_detail' slug=site.slug %}">{{ site.name }}</a>
                    </td>
                    <td>{{ site.country }}</td>
                    <td>{{ site.address }}</td>
                    <td>{{ site.system }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
