{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block form_actions %}
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
    </div>
{% endblock form_actions %}

{% block card_footer %}
    <div class="card-footer text-center">
        <p class="mb-0">
            {% trans "Don't have an account?" %}
            <a href="{% url 'account_signup' %}" class="text-decoration-none">
                {% trans "Sign up here" %}
            </a>
        </p>
    </div>
{% endblock card_footer %}